////////      ASSIGNMENT KO IGNORE KARNE KE LIYE       ////////

Array in JavaScript Assignment 

Builts in object Assignment

Loops and function Assignment

map,Filter,reduce Assignment

Object Assignment